body {
    font-family: Roboto;
    margin: 0;
    /* display: flex;
    flex-direction: column; */
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0px 300px;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

a, #hero-sec, #placeholder {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

#header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.hero-section {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 300px;
}

#hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    padding: 0;
    margin: 0;
}

#hero-sec {
    padding: 0;
    margin: 0;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 10px 30px;
    border-radius: 8px;
    border: none;
    margin: 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

#placeholder {
    padding: 125px;
    background-color: gray;
}

#info-header {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
}

.card-image {
    border: 5px solid #3882f6;
    border-radius: 16px;
    padding: 75px;
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 150px;
}

.card-text {
    text-align: center;
    margin: 0;
    color: gray;
}

.cards {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.info-section {
    padding: 15px 0px 100px 0px;
}

.quote {
    background-color: #e5e7eb;
    padding: 75px 300px;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 15px;
}

#quote-attr {
    font-size: 24px;
    font-weight: 900;
    text-align: right;
    padding: 0;
    margin: 0;
}

.call-to-act {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px;
}

.call-banner {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 50px 200px;
    background-color: #3882f6;
    border-radius: 8px;
}

#call-main, #call-sec {
    padding: 0;
    margin: 0;
}

#call-main {
    color: white;
    font-size: 24px;
}

#call-sec {
    color: #e5e7eb;
    font-size: 18px;
}

#call-btn {
    border: 2px solid white;
}